.memory-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: wheat;
    width: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #d6d3d1;
    cursor: pointer;
}

.memory-card:hover {
    box-shadow: 0px 0px 10px 4px #1E6D28;
}

.memory-card:active {
    box-shadow: 0px 0px 10px 4px #029413;
}
.card-image {
    background-color: wheat;
}

.card-text {
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}