* {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 1600px) {
    .header {
        justify-content: space-around;
    }

    .scoreboard-container {
        margin: auto;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 60%;
    }

    .gameboard-container {
        max-width: 60%;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .page-header, .rules-container {
        margin-bottom: 10px;
    }

    .gameboard-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .content-blocker {
        position: fixed;
    }
}

@media (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .page-header, .rules-container {
        margin-bottom: 10px;
    }

    .gameboard-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .content-blocker {
        position: fixed;
    }

    .result-container {
        width: 400px;
    }
}